.container {
  max-width: 900px;
  max-height: 1424px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none;
 /* IE and Edge */
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.arrowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(16, 16, 16, 0.8);
  border-radius: 48px;
  transition: all 0.5s;
  position: absolute;
  top: 40%;
  width: 64px;
  height: 40px;
  z-index: 1000;
}
.arrowContainer:hover {
  cursor: pointer;
  background: #101010;
}
.arrowLeft {
  left: -88px;
}
.arrowLeft:hover .arrowLIcon {
  transform: translate(-10px);
}
.arrowRight {
  right: -88px;
}
.arrowRight:hover .arrowRIcon {
  transform: translate(10px);
}
.arrowRIcon, .arrowLIcon {
  transition: all 0.5s ease;
}
.arrow {
  color: white;
}
.movies {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}
.movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}
.duration {
  font-family: "Archivo";
  font-size: 14px;
  line-height: 20px;
  color: #9b9b9b;
  margin: 0;
}
.movieTitle {
  margin: 0;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  width: 140px;
}
.movieImg {
  background-color: #c4c4c4;
  border-radius: 4px;
}
.movieImg:hover, .movieTitle:hover {
  cursor: pointer !important;
  opacity: 0.8;
}
.avgContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  width: 80%;
}
